Repository NielsvanHoof/kpop-idol-viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, ./vendor/bin/pint

init from install husky
  package.json
Due: prettier --write

add example test so pipeline succeeds
  tests/Unit/ExampleTest.php
Due: ./vendor/bin/pint

build front-end assets
  .github/workflows/test-suite.yml
Due: prettier --write

update eslint command
  package.json
Due: prettier --write

lint fixes and pipeline fix
  .github/workflows/test-suite.yml
  eslint.config.mjs
  package.json
  resources/js/Components/Common/SEO.tsx
  resources/js/Components/Timeline/TimelineFilters.tsx
  resources/js/Data/mockTimelineData.ts
  resources/js/Hooks/useIdolOverViewFilters.ts
Due: prettier --write, eslint --fix

update to ignore public folder
  .github/workflows/test-suite.yml
Due: prettier --write

update prettier config
  .github/workflows/test-suite.yml
  .prettierignore
  package.json
Due: prettier --write

update build
  resources/js/Components/Timeline/TimelineFeature.tsx
  resources/js/Data/mockDashboardData.ts
  resources/js/Data/mockTimelineData.ts
  resources/js/Pages/Dashboard.tsx
  resources/js/Pages/Group/group.profile.tsx
  resources/js/Pages/Idol/idol.overview.tsx
  resources/js/Pages/Idol/idol.profile.tsx
Due: prettier --write, eslint --fix

update naming
  app/Http/Controllers/GroupController.php
  app/Http/Controllers/IdolController.php
  resources/js/Pages/Group/GroupOverview.tsx
  resources/js/Pages/Group/GroupProfile.tsx
  resources/js/Pages/Idol/IdolOverview.tsx
  resources/js/Pages/Idol/IdolProfile.tsx
Due: prettier --write, eslint --fix, ./vendor/bin/pint

run ci/cd on dev
  .github/workflows/test-suite.yml
Due: prettier --write

update ci/cd
  .github/workflows/test-suite.yml
  package.json
  vite.config.js
Due: prettier --write, eslint --fix

revert update to ci/cd
  .github/workflows/test-suite.yml
  package.json
Due: prettier --write

initial feed scrapper commit
  feed-aggregator/.dockerignore
  feed-aggregator/.env.example
  feed-aggregator/.gitignore
  feed-aggregator/.vscode/launch.json
  feed-aggregator/.vscode/settings.json
  feed-aggregator/Dockerfile
  feed-aggregator/Dockerfile.dev
  feed-aggregator/README.md
  feed-aggregator/docker-compose.yml
  feed-aggregator/makefile
  feed-aggregator/requirements.dev.txt
  feed-aggregator/requirements.txt
  feed-aggregator/src/__init__.py
  feed-aggregator/src/aggregator/feed_collector.py
  feed-aggregator/src/config/settings.py
  feed-aggregator/src/factories/feed_item_factory.py
  feed-aggregator/src/main.py
  feed-aggregator/src/models/feed_item.py
  feed-aggregator/src/models/kpophotsheet_feed_item.py
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,md,json,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  ./vendor/bin/pint: any of: *.php
